/* To set Default Settings */
:root {
        font-family: "Cherry Bomb One", serif;
        font-weight: 400;
        font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: aquamarine;
}

/* Navigation Bar */

nav {
    background-color: purple;
    font-size: larger;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ul.navigation {
    list-style-type: none;
    border-style: dashed;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}
ul.navigation li {
    display: inline;
}

/* Footer */
footer {
    background-color: silver;
}

/* Links */
a {
    text-decoration: none;
    color: blue;
    background-color: white;
    padding: 5px;
    border-radius: 5px 20px 5px 20px;
}
a:hover {
    color: navy;
}
a:active {
    color: red;
}
a:visited {
    color: lime;
}

/* Miscellaneous */
.social ul {
    display: inline;
    list-style-type: none;
}

img {
    width: 500px;
}